:root {
  --primary: #3ecf4c;
  --primary-100: #e2fcd9;
  --primary-200: #c0fab4;
  --primary-300: #94f08b;
  --primary-400: #6be26b;

  --secondary: #ffbd3a;
  --secondary-100: #fee8d2;
  --secondary-200: #ffecb0;
  --secondary-300: #ffdf88;
  --secondary-400: #ffd26b;

  --tertiary: #f64920;
  --tertiary-50: #fffdf3;
  --tertiary-100: #f1d5b8;
  --tertiary-200: #fecaa5;
  --tertiary-300: #fca578;
  --tertiary-400: #f98256;

  --text-dark-primary: #222325;
  --text-dark-secondary: #333333;
  --text-dark-disabled: #3a3541;
  --text-light-primary: rgba(231, 227, 252, 0.87);
  --text-light-secondary: #c1c2c4;
  --text-light-disabled: #9d9ea1;

  --primary-background: #ffffff;
  --body-base-background: #f4f5fa;
  --secondary-background: #f9fafc;
  --border: #3a3541;

  --info: #0980e2;
  --info-pressed: #044aa2;
  --info-hover: #0663c2;
  --info-background: #ebf9fe;

  --success: #38d189;
  --success-pressed: #1c9675;
  --success-hover: #28b380;
  --success-background: #e0fddf;

  --warning: #fce91b;
  --warning-pressed: #b5a40d;
  --warning-hover: #d8c613;
  --warning-background: #fcf8ca;

  --error: #ff5c2b;
  --error-pressed: #b72315;
  --error-hover: #db3d1f;
  --error-background: #fce3d1;

  --gradients-info: #004ce8 #6f9eff;
  --gradients-success: #00c247 #73ffa6;
  --gradients-warning: #ffe16a #ffe580;
  --gradients-error: #ff3333 #ff8a9b;

  --greyscale-50: #fafafa;
  --greyscale-100: #f5f5f5;
  --greyscale-200: #eeeeee;
  --greyscale-300: #e0e0e0;
  --greyscale-400: #bdbdbd;
  --greyscale-500: #9e9e9e;
  --greyscale-600: #757575;
  --greyscale-700: #616161;
  --greyscale-800: #424242;
  --greyscale-900: #212121;

  --greyscale-10: #4a505c;
  --greyscale-750: #f1f1f1;
  --error-other: #d32e1f;
  --border-other10: rgba(0, 0, 0, 0.8);
  --border-other20: rgba(0, 59, 222, 0.2);
  --border-other30: rgba(51, 51, 51, 0.68);
  --border-other40: rgba(58, 53, 65, 0.12);
}
