main {
  height: 2581px;
}

.mainHome {
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.frameBackground {
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem;
  width: 1200px;
  height: 400px;
  padding: 4px;
}

.frameCover {
  margin: 0 auto;
  max-width: 600px;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  display: flex;
}

.frameText {
  width: 920px;
  height: 159px;
}

.frameDescription {
  width: 920px;
  height: 40px;
  font-size: 16px;
  align-self: stretch;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}

.frameButton {
  width: 372px;
  height: 42px;
  background: #3ecf4c;
  border-radius: 10px;
  margin-top: 24px;
}

.buttonText {
  color: #ffffff;
  font-size: 16px;
  font-family: 500;
  text-align: center;
}

.cardSection {
  /* width: 1200px;
    height: 1525px; */
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  display: flex;
}

.cardTitle {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.cardText {
  width: 623px;
  height: 35px;
  color: #222325;
  font-size: 32px;
  font-family: Poppins !important;
  font-weight: 600;
}

.cardtextLittle {
  width: 370px;
  height: 22px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

.tabLittle {
  align-self: stretch;
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
}

.tabCard {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 36px;
  align-items: center;
  gap: 6px;
  display: inline-flex;
}

.tabTextfirst {
  width: 97px;
  height: 22px;
  color: #f64920;
  font-weight: bold;
}

.tabTextfirst:hover {
  color: #f64920;
  font-weight: bold;
}

.tabUnderline {
  width: 52px;
  height: 6px;
  background: #f64920;
  border-radius: 10px;
}

.tabText {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
}

.tabText:hover {
  color: #f64920;
  font-weight: bold;
}

.card-container {
  width: 1200px;
  height: 468px;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item {
  width: 384px;
  height: 426px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  border: 1px rgba(58, 53, 65, 0.12) solid;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  display: flex;
}

.card-image {
  /* width: 344px; */
  height: 193px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-description {
  width: 344px;
  height: 74px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.text-title {
  align-self: stretch;
  color: #222325;
  font-size: 18px;
  font-family: Poppins !important;
  font-weight: 600;
  line-height: 21.6px;
}

.card-textLittle {
  width: 344px;
  height: 44px;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
}

.card-avatar {
  /* width: 344px;
    height: 44px; */
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 30px;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.avatar-cardLittle {
  flex: 1 1 0;
  flex-direction: column;
  align-items: flex-start;
  display: inline-flex;
}

.avatar-title {
  align-self: stretch;
  color: #222325;
  font-weight: bold;
  font-size: 16px;
}

.avatar-little {
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
}

.avatarText-little {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
}

.card-point {
  /* width: 344px;
    height: 29px; */
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.point-box {
  width: 151px;
  height: 20px;
  align-items: center;
  gap: 8px;
  display: flex;
}

.point-boxLittle {
  align-items: center;
  display: flex;
}

.star-img {
  width: 18px;
  height: 18px;
}

.point-number {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  line-height: 19.6px;
}

.point-K {
  width: 99px;
  height: 29px;
  font-size: 1.5rem;
  color: #3ecf4c;
  font-weight: 600;
}

.frame2-background {
  width: 100%;
  margin-top: 15px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.frame2-cover {
  width: 525px;
  height: 216px;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: flex;
}

.frame-textbox {
  width: 525px;
  height: 118px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
}

.frame2-text {
  text-align: center;
  color: #c1c2c4;
  font-size: 18px;
}

.frame2-texTitle {
  color: #ffffff;
  font-size: 32px;
  font-family: Poppins !important;
  font-weight: 600;
  line-height: 35.2px;
}

.frame2-textLittle {
  width: 436px;
  height: 44px;
  text-align: center;
  color: #f4f5fa;
  font-weight: 400;
}

.frame-Email {
  align-self: stretch;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 8px;
  background: #ffffff;
  border-radius: 10px;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}
.footer-container {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  display: flex;
  gap: 24px;
}

.footer-title {
  width: 352px;
  height: 190px;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}

.footer-img {
  margin-left: -20px;
  /* height: 56px */
}

.footerbox-title {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.footertext-title {
  color: #222325;
  font-size: 18px;

  font-weight: 700;
  line-height: 25.2px;
}

.footertext-little {
  color: #222325;
  font-size: 16px;

  font-weight: 400;
}

.footer-submenu-container {
  width: 482px;
  height: 199px;
  gap: 24px;
  display: flex;
}

.footer-tab {
  width: 149px;
  height: 199px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
  padding: 2px;
}

.footer-tabText {
  color: #222325;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.footer-submenu-links {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
  display: flex;
}

.footer-submenu-caret {
  display: none;
  width: 12px;
}

.footer-info {
  width: 1200px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 14px;
}

.footer-tabIcon {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: flex;
}

.footer-icon {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  display: flex;
  padding: 8px;
}

/* under 600px */
@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-submenu-container {
    flex-direction: column;
  }

  .footer-info {
    flex-direction: column-reverse;
    align-items: start;
  }

  .footer-submenu-links {
    display: none;
  }

  .footer-submenu-caret {
    display: block;
  }
}

/* under 800px */
@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
  }
}
